<h1>Reviews</h1>

<ul class="list-item">
  <% @reviews.each do |restaurant| %>
    <li><p>
      <%= link_to restaurant.name, restaurant_path(restaurant.id) %>
      <br>
      <%= restaurant.address %>
      <br>
      <%= restaurant.phone_number %>
      <br>
      <%= restaurant.category %>
    </li></p>
  <% end %>
</ul>

 <%= link_to "Add a new restaurant", new_restaurant_path %>
